@font-face {
  font-family: "Windows";
  src: url("../font/Windows-Command-Prompt.woff2") format("woff2"), url("../font/Windows-Command-Prompt.woff") format("woff"), url("../font/Windows-Command-Prompt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MicrosoftSansSerif';
  src: url('../font/MicrosoftSansSerif.woff2') format('woff2'), url('../font/MicrosoftSansSerif.woff') format('woff'), url('../font/MicrosoftSansSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/****************
*   VARIABLES   *
****************/

:root {
  --main-bg-color: #008080;

  --bgColorBtn: #C8C8C8;
  --borderBtnTop: 2px solid #e6e6e6;
  --borderBtnLeft: var(--borderBtnTop);
  --borderBtnBottom: 2px solid #848484;
  --borderBtnRight: var(--borderBtnBottom);

  --bgColorBtnHover: #ededed;
  --borderBtnTopHover: var(--borderBtnBottom);
  --borderBtnLeftHover: var(--borderBtnBottom);
  --borderBtnBottomHover: var(--borderBtnTop);
  --borderBtnRightHover: var(--borderBtnTop);
}

/****************

*   GENERAL   *

****************/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Windows", Helvetica, sans-serif !important;
  font-size: 0.8rem;
  color: black;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/*  BUTTONS CONFIG  */

.btnWin31 {
  display: block;
  font-family: "MicrosoftSansSerif", Helvetica, sans-serif !important;
  font-size: 1rem;
  border-top: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
  border-right: 2px solid darkgrey;
  border-bottom: 2px solid darkgrey;
  padding: 5px 40px;
  margin: 20px auto;
}

.btnWin31:hover {
  font-weight: bold;
  border: 2px solid #333;
}



/* Page 404 settings */

/* page 404 without spaceInvaders

  .space-invaders {

    display: none;

  }

  .no-space-invaders{

    display: flex;

    width: 100%;

    justify-content: center;

  }

*/

/* page404 with spaceInvaders*/

.no-space-invaders {
  width: 100%;
  display: none;
}